@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #1F2122 0%, #3a3a3b 100%);
  background-size: 400% 400%;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  animation: bg 25s ease-in infinite alternate-reverse;
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes bg {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
}

@keyframes bg {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
}

.shift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  height: 45px;
}

.shift #hash-func {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  font-size: 16px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: 10px;
  outline: none;
  width: 100px;
  padding-right: 5px;
  cursor: pointer;
  height: 29px;
  color: #fff;
}

.shift #hash-func option {
  min-height: 20px;
  color: inherit;
  background-color: #2E3032;
}

.shift #hash-func option:focus {
  outline: none;
}

.main {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px 0;
  max-width: 700px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.wrapper #text1,
.wrapper #text2 {
  width: 400px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 150px;
  color: #fff;
  resize: none;
  outline: none;
  padding: 5px;
}

.wrapper #text1::-webkit-input-placeholder,
.wrapper #text2::-webkit-input-placeholder {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.7);
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.image img {
  width: 40px;
  height: 40px;
}
